:host {
  display: block;
}

.section-title {
  font-size: 1.45rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: left;
  color: var(--mat-sys-on-surface);
}

.commands-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;

  app-button {
    min-width: 140px;
  }
}
