.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.creation-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 4vw;
}

.creation-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
}

.creation-header {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 20px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
