<div #tableContainer class="table-container">
  <div *ngIf="search !== null || hasFilters" class="table-toolbar">
    <div *ngIf="search !== null">
      <app-search (search)="onSearchTriggered($event)"></app-search>
    </div>
    <!-- <div class="toolbar-section right-section" *ngIf="hasFilters">
      <span class="filter-placeholder">Filter controls go here</span>
    </div> -->
  </div>
  <mat-table
    [dataSource]="dataSource"
    class="custom-table"
    [ngClass]="{ 'dense-table': tableSize === 'dense' }"
    matSort
  >
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.label }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span
          [matTooltip]="getTooltip(element, column)"
          matTooltipShowDelay="500"
          matTooltipHideDelay="100"
          matTooltipPosition="right"
        >
          @if(column.customCell){
          <mat-icon class="boolean-icon">{{
            column.customCell(element[column.key])
          }}</mat-icon>
          }@else{
          {{ truncate(element[column.key]) }}
          }
        </span>
      </mat-cell>
    </ng-container>
    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
      [ngClass]="{
        'header-filled': headerRowType === 'filled',
        'header-light': headerRowType === 'light'
      }"
    >
    </mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{
        'selectable-row': isSelectable,
        'selected-row': isRowSelected(row)
      }"
      (click)="handleRowClick(row)"
      matRipple
      [matRippleDisabled]="!isSelectable"
    >
    </mat-row>
  </mat-table>
</div>
