<mat-drawer-container class="container">
  <mat-drawer
    #drawer
    autoFocus="false"
    [ngStyle]="{ width: isPhoneView ? '50vw' : '250px' }"
  >
    <div class="sidebar-wrapper">
      <mat-nav-list class="nav-list">
        <!-- Close drawer -->
        <div
          class="sidebar-top-button"
          (click)="toggleDrawer()"
          (keydown.enter)="toggleDrawer()"
          tabindex="0"
          role="button"
          aria-label="Toggle Sidebar"
        >
          <mat-icon>menu</mat-icon>
        </div>
        <!-- Tenants section -->
        <div
          mat-list-item
          class="tenants-header"
          (click)="toggleTenantsSection()"
          (keydown.enter)="toggleTenantsSection()"
          tabindex="0"
        >
          <mat-icon>group</mat-icon>
          <span class="tenants-title">Tenants</span>
          <span class="spacer"></span>
          <button mat-icon-button>
            <mat-icon>
              {{ tenantsExpanded ? "expand_more" : "keyboard_arrow_right" }}
            </mat-icon>
          </button>
        </div>

        <!-- Submenu -->
        <div *ngIf="tenantsExpanded" class="tenants-submenu">
          <a
            mat-list-item
            class="submenu-item"
            (click)="navigateTo('/tenants', drawer)"
            (keydown.enter)="navigateTo('/tenants', drawer)"
            tabindex="0"
          >
            <mat-icon>table_view</mat-icon>
            <span>Table</span>
          </a>
          <a
            mat-list-item
            class="submenu-item"
            (click)="navigateTo('/tenants/create', drawer)"
            (keydown.enter)="navigateTo('/tenants/create', drawer)"
            tabindex="0"
          >
            <mat-icon>add_circle</mat-icon>
            <span>Create</span>
          </a>
        </div>
      </mat-nav-list>

      <!-- Footer anchored at the bottom -->
      <div
        class="sidebar-footer"
        (click)="onToggleTheme()"
        (keydown.enter)="onToggleTheme()"
        (keydown.space)="onToggleTheme()"
        tabindex="0"
        role="button"
        aria-label="Toggle Theme"
      >
        <mat-icon>{{ isDarkMode ? "brightness_2" : "wb_sunny" }}</mat-icon>
        <span class="footer-label">Change Theme</span>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content style="display: flex">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
