<div class="container">
  @if(!id){
  <app-default-paper style="flex: 2" [enableScroll]="false">
    <div class="header">
      <h2 style="text-align: center; margin-bottom: 30px">Tenants</h2>
    </div>
    <app-tenant-table
      class="table"
      (rowClick)="onTenantSelected($event.tenant, $event.scrollPosition)"
      [id]="id"
      [tenants]="tenants"
      [loading]="loading"
      [scrollPosition]="scrollPosition"
    ></app-tenant-table>
  </app-default-paper>
  } @else { @if(isTableVisible){
  <app-default-paper style="flex: 2" [enableScroll]="false">
    <div class="header">
      <h2 style="text-align: center; margin-bottom: 30px">Tenants</h2>
      <button
        mat-icon-button
        type="button"
        (click)="onExpandToggle()"
        matTooltip="Hide table"
        matTooltipShowDelay="800"
        matTooltipPosition="right"
      >
        <mat-icon class="icon">{{ "navigate_before" }} </mat-icon>
      </button>
    </div>
    <app-tenant-table
      class="table"
      (rowClick)="onTenantSelected($event.tenant, $event.scrollPosition)"
      [id]="id"
      [tenants]="tenants"
      [loading]="loading"
      [scrollPosition]="scrollPosition"
    ></app-tenant-table>
  </app-default-paper>
  }@else{
  <app-default-paper
    style="flex: 0.1"
    [enableScroll]="false"
    (click)="onExpandToggle()"
    [clickable]="true"
  >
    <mat-icon class="extender-icon">keyboard_arrow_right</mat-icon>
  </app-default-paper>
  }
  <app-default-paper style="flex: 11" [noPadding]="true">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav mode="side" opened disableClose class="custom-sidenav">
        <app-tenant-sidebar
          (itemSelected)="onSidebarItemClick($event)"
        ></app-tenant-sidebar>
      </mat-sidenav>
      <mat-sidenav-content class="sidenav-content">
        <app-tenant-content-overview
          [tenant]="selectedTenant"
        ></app-tenant-content-overview>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </app-default-paper>
  }
</div>
