<div class="container">
  <app-default-paper style="flex: 2">
    <div class="services-section">
      <h2>Services</h2>
      <div class="services-list">
        <app-home-service-button
          icon="business"
          text="Tenants"
          (clicked)="onTenantButtonClicked()"
        ></app-home-service-button>
        <app-home-service-button
          icon="cloud"
          text="Test admin"
          (clicked)="onTestBackendButtonClicked()"
        ></app-home-service-button>
        <app-home-service-button
          icon="bug_report"
          text="Test user"
          (clicked)="onTestUserButtonClicked()"
        ></app-home-service-button>
        <app-home-service-button
          icon="settings"
          text="Show token info"
          (clicked)="logTokenInfo()"
        ></app-home-service-button>
      </div>
    </div>
  </app-default-paper>
</div>
