.container {
  display: flex;
  flex-grow: 1;
  gap: 1vh;
  padding: 1vh;
  height: 90vh;
  justify-content: center;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2vh;
  width: 100%;
  margin-top: 20px;
}

.services-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 900px;
  margin: 2% auto;
}
