@if(isPhoneView){
<app-tenant-view-button-bar
  [items]="sidebarItems"
  [activeLabel]="selectedSection"
  (itemSelected)="onSidebarItemClick($event)"
></app-tenant-view-button-bar>
@if(loading){
<mat-spinner class="spinner"></mat-spinner>
}@else{
<app-tenant-content [tenant]="tenant"></app-tenant-content>
}} @if(!isPhoneView){
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened disableClose class="custom-sidenav">
    <app-tenant-sidebar
      (itemSelected)="onSidebarItemClick($event)"
      [activeLabel]="selectedSection"
      [items]="sidebarItems"
    ></app-tenant-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    @if(loading){
    <mat-spinner class="spinner"></mat-spinner>
    }@else{
    <app-tenant-content
      [tenant]="tenant"
      (saved)="onTenantSaved()"
    ></app-tenant-content>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
}
