<section class="overview-container">
  <app-tenant-overview
    id="overview-section"
    [tenant]="tenant"
    [originalTenant]="originalTenant"
    (changed)="onTenantChanged($event)"
    [disabled]="saving"
  ></app-tenant-overview>

  <mat-divider class="section-divider"></mat-divider>
  <app-tenant-commands id="commands-section"></app-tenant-commands>
</section>

<!-- Snackbar Action Row -->
<div
  class="snackbar-action-row"
  [ngClass]="{ 'desktop-offset': !isPhoneView }"
  *ngIf="hasChanges && !saving"
>
  <div class="button-wrapper">
    <button mat-stroked-button color="warn" (click)="cancelChanges()">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
    <button mat-flat-button color="primary" (click)="confirmSave()">
      <mat-icon>save</mat-icon> Save
    </button>
  </div>
</div>
