@use "@angular/material" as mat;

.mat-mdc-snack-bar-container.snackbar-error {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-error-container),
      supporting-text-color: var(--mat-sys-on-error-container),
    )
  );
  .mat-mdc-snack-bar-action {
    color: var(--mat-sys-on-error-container) !important;
    font-weight: bold !important;
  }
}

.mat-mdc-snack-bar-container.snackbar-success {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-tertiary-container),
      supporting-text-color: var(--mat-sys-on-tertiary-container),
    )
  );
  .mat-mdc-snack-bar-action {
    color: var(--mat-sys-on-tertiary-container) !important;
    font-weight: bold !important;
  }
}

.mat-mdc-snack-bar-container.snackbar-info {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-color-surface),
      supporting-text-color: var(--mat-sys-color-on-surface),
    )
  );
  .mat-mdc-snack-bar-action {
    color: var(--mat-sys-color-on-surface) !important;
    font-weight: bold !important;
  }
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.32);
}

body.dark-theme .cdk-overlay-backdrop {
  background-color: rgba(255, 255, 255, 0.08);
}
