@use "@angular/material" as mat;

html {
  --mat-sys-warning-container: #fff8e1;
  --mat-sys-on-warning-container: #5f370e;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    ),
    $overrides: ("background": #e0e0e0)
  );
}

body.dark-theme {
  --mat-sys-warning-container: #4e3c00;
  --mat-sys-on-warning-container: #ffe082;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    ),
    $overrides: ("background": #24292e)
  );
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

  --mat-sys-body-small: 12px !important;
  --mat-sys-body-medium: 14px !important;
  --mat-sys-body-large: 16px !important;

  --mat-sys-display-medium: 26px !important;
  --mat-sys-display-large: 34px !important;
}

body {
  overflow: hidden;
  width: 100%;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
