<button mat-button [matMenuTriggerFor]="userMenu">
  <span class="avatar">{{ userInitials }}</span>
</button>

<!-- Menu -->
<mat-menu #userMenu="matMenu">
  <div class="user-menu-popup" (click)="$event.stopPropagation()">
    <div class="avatar large">{{ userInitials }}</div>
    <div>
      <div class="name">{{ userName }}</div>
      <div class="email">{{ userEmail }}</div>
    </div>
  </div>
  <button mat-menu-item (click)="logout()" class="logout-button">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sign in with a different account</span>
  </button>
</mat-menu>
