<mat-toolbar class="toolbar">
  <div class="left-section">
    <button mat-icon-button (click)="onToggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-breadcrumb style="margin-left: 5%"></app-breadcrumb>
  </div>

  <div class="spacer"></div>

  <div class="right-section">
    <button
      mat-icon-button
      (click)="onToggleTheme()"
      matTooltip="Change theme"
      matTooltipShowDelay="800"
      matTooltipPosition="below"
    >
      <mat-icon>{{ isDarkMode ? "brightness_2" : "wb_sunny" }}</mat-icon>
    </button>
    <app-user-menu
      [menuOpen]="menuOpen"
      [toggleMenu]="toggleUserMenu.bind(this)"
    ></app-user-menu>
  </div>
</mat-toolbar>
