.search-wrapper {
  position: relative;
  width: 250px;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--mat-sys-outline);
  background: transparent;
  outline: none;
  font-size: 16px;
  padding: 10px 36px;
  box-sizing: border-box;
  z-index: 1;
  color: var(--mat-sys-on-surface);
}

.input:focus {
  border-bottom: 2px solid var(--mat-sys-primary);
}

.search-icon,
.clear-button {
  position: absolute;
  background: transparent;
  padding: 4px;
  z-index: 2;
  color: var(--mat-sys-outline);
}

.search-icon {
  left: 0;
}

.clear-button {
  right: 0;
}
